*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(68, 63, 63);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
    
}
.logo-photo{
    width: 150px;
}
.menus{
    display: flex;
    justify-content: space-around;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color:crimson;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    background-image: url("images/background.png"),linear-gradient(45deg,#080808,#000);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tittle{
    font-size: 55px;
    font-weight:bold;

}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bt{
    padding: 10px 20px;
    background-color: red;
    color: white;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    margin: 20px;
}
.about-tittle{
    text-align: center;
    padding: 20px;

}


.box11{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    


}
.icon{
    width: 70px;

    

}
    
.btn-last{
    background-color: gray;
    margin-top: 10px;
    padding: 5px;

}
.box-tittle{
    padding: 10px;
}
.box-description{
    padding: 5px;
}
.last-container{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
